body {
    background-color: rgb(236, 236, 226);
    font-family: Space Grotesk;
    margin: 15px 30px;
}

a {
    color: black;
    text-decoration: none;
}

::-moz-selection {
    background: lightgreen;
}

::selection {
    background: lightgreen;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-links {
    margin-left: 10px;
}

.empty-space {
    height: 90px;
}

#heading {
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 70px;
    font-weight: 500;
    line-height: 110px;
    text-align: center;
}

#subheading {
    font-family: JetBrains Mono;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.sidebar-button {
    font-family: Space Grotesk;
    width: 155px;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar-button:hover {
    color: rgb(63, 175, 63);
}

.sidebar-button:active {
    color: rgb(25, 107, 25);
}

.content {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    width: 100%;
}

.sidebar-nav {
    position: sticky;
    top: 60px;
    min-width: 20%;
}

.information-headings {
    margin: 0px;
}

.information {
    width: 60%;
}

.information-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 30px;
}

.bib-heading {
    margin-bottom: 15px;
}

.bib {
    display: flex;
    padding: 0px 15px;
}

.bib:hover {
    background-color: lightgreen;
    border-radius: 15px;
}

.source {
    min-width: 25%;
}

.citation {
    text-wrap: wrap;
    word-wrap: break-word;
}

.continue-container {
    width: 20%;
    position: sticky;
    top: 60px;
}

#continue-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Space Grotesk;
    width: 155px;
    margin-left: auto;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 0px 8px;
    background-color: rgb(238, 238, 238);
}

#continue-button:hover {
    background-color: rgb(187, 187, 187);
}

#continue-button:active {
    background-color: rgb(133, 133, 133);
}

#continue-link {
    text-decoration: none;
    color: black;
}

#arrow-forward-icon {
    width: 24px;
}

.end-empty-space {
    height: 110px;
}

.task-def-toggled {
    display: none;
}

.quests-toggled {
    display: none;
}

.bib-toggled {
    display: none;
}

.content-not-toggled {
    display: none;
}

@media (max-width: 750px) {
    #heading {
        font-size: 40px;
    }
    
    .content {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        column-gap: 10px;
        width: 100%;
    }

    .sidebar-nav {
        position: static;
        width: 100%;
    }

    .continue-container {
        width: 100%;
        position: static;
    }

    .continue-button {
        margin-top: 15px;
    }

    .information {
        width: 100%;
    }

    .bibliography {
        width: 100%;
    }

    .bib {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }

    .citation p {
        margin: 0px;
        margin-bottom: 30px;
    }
}

@media (min-width: 750px) and (max-width: 971px) {
    .information-mobile {
        display: none;
    }

    #hero-phrase {
        margin-bottom: 0;
        margin-top: 0px;
        font-size: 60px;
        font-weight: 500;
        line-height: 70px;
    }
}

@media (min-width: 971px) and (max-width: 1112px) {
    .information-mobile {
        display: none;
    }

    #hero-phrase {
        margin-bottom: 0;
        margin-top: 0px;
        font-size: 80px;
        font-weight: 500;
        line-height: 90px;
    }
}

@media (min-width: 1112px) {
    .information-mobile {
        display: none;
    }
}
